**/CMakeCache.txt
**/CMakeFiles
build
checker
abi-checker

# Android local build artifacts
**/.cxx
client/Android/Studio/freeRDPCore/src/main/cpp/external/
client/Android/Studio/freeRDPCore/src/main/jniLibs/
